.header{
    position: relative;
    height: 100svh;
    max-height: 940px;
    display: flex;
    flex-direction: column;
}
.header__top {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    background: linear-gradient(90.09deg,
            #3800af 0%,
            #bf7204 97.52%,
            #c27500 100%,
            #c27500 100%);
    flex: 0 0 auto;
}

.header__top-icon {
    font-size: 50px;
    color: white;
    transition: 0.2s ease-in-out;
}

.header__top-icon:hover {
    color: green;
}

.header__top-text {
    font-family: var(--CR);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    max-width: 166px;
    width: 100%;
}

.header__nav {
    background: var(--black);
    padding: 30px 15px;
    position: sticky;
    flex: 0 0 auto;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-logo {
    display: flex;
    align-items: flex-end;
}

.header__nav-logo-img {
    width: 103px;
    height: 42px;
}

.header__nav-logo-span {
    font-family: var(--CB);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: white;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-list-item-link {
    font-family: var(--MR);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--color);
    padding: 42px 15px;
    transition: 0.3s ease-in-out;
    position: relative;
}

.header__nav-list-item-link:hover {
    color: var(--lightOrange);
}

.header__nav-list-item-link::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 20px 20px 0 0;
    background: var(--lightOrange);
    transition: 0.2s ease-in-out;
}

.header__nav-list-item-link:hover::after {
    width: 100%;
}


@media screen and (max-width:768px){
    .header__wrap{
        flex-direction: column;
        gap: 25px;
    }
    .header__nav-list-item-link{
        padding: 30px 15px;
    }
}
@media screen and (max-width:420px){
    .header__nav-list{
        gap: 15px;
    }
    .header__nav-list-item-link{
        padding: 30px 0;
    }
}